
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce
    username: root
    password: Java@1979
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

server:
  port: 8080

